#!/usr/bin/make -f

MAKEFILE_PATH:=$(shell dirname $(realpath $(firstword ${MAKEFILE_LIST})))

.PHONY: build

build:
	AZDEVOPS_PAT_RO="${DEB_AZDEVOPS_PAT_RO}" "${MAKEFILE_PATH}/../.ci/build-zynqmp.sh" build cx8200
	AZDEVOPS_PAT_RO="${DEB_AZDEVOPS_PAT_RO}" "${MAKEFILE_PATH}/../.ci/build-zynqmp.sh" build cx9240

%:
	dh $@
