// SPDX-License-Identifier: GPL-2.0+
/*
 * dts file for Beckhoff CX9240
 *
 * (C) Copyright 2023, Beckhoff Automation GmbH & Co. KG
 *
 * Steffen Dirkwinkel <s.dirkwinkel@beckhoff.com>
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk-ccf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Beckhoff CX9240";
	compatible = "beckhoff,cx9240-rev1", "beckhoff,cx9240",
		     "xlnx,zynqmp";

	aliases {
		ethernet0 = &gem2;
		ethernet1 = &gem1;
		rtc0 = &rv3032;
		serial0 = &uart0;
		usb0 = &usb1;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x7ff00000>;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&xilinx_ams 0>, <&xilinx_ams 1>, <&xilinx_ams 2>,
			      <&xilinx_ams 3>, <&xilinx_ams 4>, <&xilinx_ams 5>,
			      <&xilinx_ams 6>, <&xilinx_ams 7>, <&xilinx_ams 8>,
			      <&xilinx_ams 9>, <&xilinx_ams 10>,
			      <&xilinx_ams 11>, <&xilinx_ams 12>;
	};


	/*
	5P49V6975A234LTGI
	OUT1 33.33MHz PS
	OUT2 26MHz USB3
	OUT3 27MHz DP
	OUT4 24MHz USB2
	*/

	clock_5p49v6975_1: 5p49v6975_1 { /* OUT1 PS */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <33330000>;
	};

	clock_5p49v6975_2: 5p49v6975_2 { /* OUT2 USB3 */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
	};

	clock_5p49v6975_3: 5p49v6975_3 { /* OUT3 DP */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
	};

	clock_5p49v6975_4: 5p49v6975_4 { /* OUT4 DP */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
	};

	dpcon {
		compatible = "dp-connector";
		label = "P11";
		type = "full-size";

		port {
			dpcon_in: endpoint {
				remote-endpoint = <&dpsub_dp_out>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";
		/* Power LED: green on "ups-charging" (power present),
		 * red+blue on "ups-not-charging" (power loss = violet). */
		pwr-red {
			color = <LED_COLOR_ID_RED>;
			default-state = "off";
			gpios = <&gpio 27 GPIO_ACTIVE_HIGH>;
			label = "red:pwr";
			linux,default-trigger = "ups-not-charging";
			panic-indicator;
		};

		pwr-green {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "on";
			gpios = <&gpio 28 GPIO_ACTIVE_HIGH>;
			label = "green:pwr";
			linux,default-trigger = "ups-charging";
		};

		pwr-blue {
			color = <LED_COLOR_ID_BLUE>;
			default-state = "off";
			gpios = <&gpio 34 GPIO_ACTIVE_HIGH>;
			label = "blue:pwr";
			linux,default-trigger = "ups-not-charging";
		};

		hdd-red {
			color = <LED_COLOR_ID_RED>;
			default-state = "off";
			gpios = <&gpio 33 GPIO_ACTIVE_HIGH>;
			label = "red:hdd";
		};

		hdd-green {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "off";
			gpios = <&gpio 29 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
			label = "green:hdd";
		};

		hdd-blue {
			color = <LED_COLOR_ID_BLUE>;
			default-state = "off";
			gpios = <&gpio 26 GPIO_ACTIVE_HIGH>;
			label = "blue:hdd";
		};
	};

	sysinfo {
		compatible = "u-boot,sysinfo-nvmem-cell";
		nvmem-cells = <&product>, <&serial>, <&version>, <&option>, <&product>, <&asset_tag>;
		nvmem-cell-names = "system_product", "system_serial", "system_version", "system_sku", "baseboard_product", "chassis_asset_tag";

		smbios {
			system {
				manufacturer = "Beckhoff Automation GmbH & Co. KG";
				/* product set by nvmem cells */
				/* serial set by nvmem cells */
				/* version set by nvmem cells */
				/* sku set by nvmem cells */
				family = "CX9240";
			};

			baseboard {
				manufacturer = "Beckhoff Automation GmbH & Co. KG";
				/* product set by nvmem cells */
			};

			chassis {
				manufacturer = "Beckhoff Automation GmbH & Co. KG";
				/* asset tag set by nvmem cells */
			};
		};
	};

	ups {
		compatible = "gpio-charger";
		charger-type = "ups";

		charge-status-gpios = <&gpio 17 GPIO_ACTIVE_LOW>;

		charge-current-limit-gpios = <&gpio 19 GPIO_ACTIVE_HIGH>;
		charge-current-limit-mapping = <1 0x00>, // 1 (any nonzero value) => GPIO 19 low, chager enable
									   <0 0x01>; // 0 => GPIO 19 high, chager disable
		charge-current-limit-default-microamp = <0x01>;
	};

	firmware {
		/delete-node/ optee;
	};
};

&fpd_dma_chan1 {
	status = "okay";
};

&fpd_dma_chan2 {
	status = "okay";
};

&fpd_dma_chan3 {
	status = "okay";
};

&fpd_dma_chan4 {
	status = "okay";
};

&fpd_dma_chan5 {
	status = "okay";
};

&fpd_dma_chan6 {
	status = "okay";
};

&fpd_dma_chan7 {
	status = "okay";
};

&fpd_dma_chan8 {
	status = "okay";
};

&gem1 {
	status = "okay";
	nvmem-cells = <&gem1_mac_address>;
	nvmem-cell-names = "mac-address";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@0 { /* Broadcom B50212E */
			reg = <0>;
		};
	};
};

&gem2 {
	status = "okay";
	nvmem-cells = <&gem2_mac_address>;
	nvmem-cell-names = "mac-address";
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	mdio1: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy1: ethernet-phy@1 { /* Broadcom B50212E */
			reg = <0>;
		};
	};
};

&gpio {
	status = "okay";
};

&qspi {
	status = "okay";
	flash@0 {
		compatible = "jedec,spi-nor"; /* IS25LP016D-JULA3 */
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "beckhoff_factory_data";
				reg = <0x0 0x11000>;
				compatible = "nvmem-cells";
				#address-cells = <1>;
				#size-cells = <1>;

				product: product@24 {
					reg = <0x24 0x10>;
				};

				serial: serial@34 {
					reg = <0x34 0x10>;
				};

				option: option@44 {
					reg = <0x44 0x20>;
				};

				gem2_mac_address: mac-address@64 {
					reg = <0x64 0x6>;
				};

				gem1_mac_address: mac-address@6A {
					reg = <0x6A 0x6>;
				};

				fpga_name: fpga_name@C4 {
					reg = <0xC4 0x20>;
				};

				version: version@E4 {
					reg = <0xE4 0x20>;
				};

				asset_tag: asset_tag@104 {
					reg = <0x104 0x20>;
				};
			};
		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <200000>;
	scl-gpios = <&gpio 8 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio 9 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1_default>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;

	rv3032: rtc@51 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "microcrystal,rv3032";
		reg = <0x51>;
		interrupt-parent = <&gpio>;
		interrupts = <12 IRQ_TYPE_LEVEL_LOW>;
	};
};

&pinctrl0 {
	status = "okay";

	pinctrl_usb1_default: usb1-default {
		mux {
			groups = "usb1_0_grp";
			function = "usb1";
		};

		conf {
			groups = "usb1_0_grp";
			power-source = <IO_STANDARD_LVCMOS18>;
		};

		conf-rx {
			pins = "MIO64", "MIO65", "MIO67";
			bias-high-impedance;
			drive-strength = <12>;
			slew-rate = <SLEW_RATE_FAST>;
		};

		conf-tx {
			pins = "MIO66", "MIO68", "MIO69", "MIO70", "MIO71",
			       "MIO72", "MIO73", "MIO74", "MIO75";
			bias-disable;
			drive-strength = <4>;
			slew-rate = <SLEW_RATE_SLOW>;
		};
	};

	pinctrl_i2c1_default: i2c1-default {
		mux {
			groups = "i2c1_2_grp";
			function = "i2c1";
		};

		conf {
			groups = "i2c1_2_grp";
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS33>;
		};
	};

	pinctrl_i2c1_gpio: i2c1-gpio {
		mux {
			groups = "gpio0_8_grp", "gpio0_9_grp";
			function = "gpio0";
		};

		conf {
			groups = "gpio0_8_grp", "gpio0_9_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS33>;
		};
	};
};

&sdhci0 {
	status = "okay";
	disable-wp;
	no-1-8-v;
	xlnx,mio-bank = <0x0>;
};

&spi1 {
	status = "okay";
	label = "TPM";
	num-cs = <1>;
	tpm@0 {
		compatible = "infineon,slb9670", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <18500000>;
	};
};

&uart0 {
	status = "okay";
};

&usb1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb1_default>;
	phy-names = "usb3-phy";
	phys = <&psgtr 3 PHY_TYPE_USB3 1 3>;

	hub_3_0: hub@2 {
		compatible = "usb424,5744";
		reset-gpios = <&gpio 20 GPIO_ACTIVE_LOW>;
	};
};

&dwc3_1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
};

&watchdog0 {
	status = "okay";
};

&xilinx_ams {
	status = "okay";
};

&ams_ps {
	status = "okay";
};

&ams_pl {
	status = "okay";
};

&gpu {
	status = "okay";
};

&psgtr {
	status = "okay";
	/* dp, nc, nc usb3 */
	clocks = <&clock_5p49v6975_3>, <&clock_5p49v6975_2>;
	clock-names = "ref0", "ref3";
};

&zynqmp_dpdma {
	status = "okay";
};

&zynqmp_dpsub {
	status = "okay";
	phy-names = "dp-phy0", "dp-phy1";
	phys = <&psgtr 1 PHY_TYPE_DP 0 0>,
	       <&psgtr 0 PHY_TYPE_DP 1 0>;

	ports {
		port@5 {
			dpsub_dp_out: endpoint {
				remote-endpoint = <&dpcon_in>;
			};
		};
	};
};
